<div class="form">
  <h1>Login to your Star Wars Addiction account</h1>
  <br>
  <% if session[:nonval_user] %>
    Password and/or username are incorrect
    <%= erb :"users/_errors", { layout: false, locals: { errors: session[:nonval_user].errors.values.flatten } } %>
  <% end %>
  <form action="/login" method="post">
    <label for="username">Username:</label><br>
    <input type="text" name="username" />
    <br>

    <label for="password">Password:</label><br>
    <input type="password" name="password" />
    <br><br>

    <button class="ui segment" id="login" type="submit" value="Submit">Login</button>
  </form>
</div>
