<div class="container">
<h2>Login below</h2>

<form id="login-form" method="post" action="/login">
  <input type="text" name="email" placeholder="Email"/>
  <input type="password" name="password" placeholder="Password"/>
  <button type="submit" name="login" value="Login"/>
</form>
</div>
