<div class="container">
  <h3>Welcome to Star Wars Addiction</h3>
  <br>
  <p>Create an account below</p>
  <br>

  <% if session[:nonval_user] %>
    <%= erb :"users/_errors", { layout: false, locals: { errors: session[:nonval_user].errors.values.flatten } } %>
  <% end %>
  <%= erb :'users/_registration_form', { layout: false, locals: { post: @post } } %>
</div>
