<h1>Create a new Work Being</h1>

<form action="/users/new" method="POST">
  <p>
    <label name="name">Name</label>
    <input name="name" type="text" />
  </p>

  <p>
    <label name="email">Email</label>
    <input name="email" type="email" />
  </p>

  <p>
    <label name="original_pw">Password</label>
    <input name="original_pw" type="password" />
  </p>

  <p>
    <input type="submit" />
  </p>
</form>
