<div class="container" id="user-profile">
  <h3>Welcome <%= current_user.username %>!</h3>

  <div id="your-favorites">
    <header role="banner" class="header" >
      <div class="nav-links-div">
      <h4>Your Favorite Star Wars cards </h4>

      </div>
  </div>
</div>
